<template name="view">
	<input type="hidden" name="article_id" id="article_id" value='{{setArticleId}}'>
	<div class="lightbox">
		<img src="/images/logo.png" alt="loading">
	</div>
	<div class="print_logo">
		<img src="/images/logo.png" alt="logo">
	</div>
	<div id="edit" class="edit">
		<h4 class="print_center article_title"><a href="{{pathFor 'view' _id=this._id.toHexString}}">{{#if this.parent.title}}{{this.parent.title}} &raquo; {{/if}}{{this.title}}</a>{{#unless isMobile}}{{#if currentUser}}&nbsp;<a href="{{pathFor 'edit' _id=this._id.toHexString}}" class="no_print"><i class="no_print fa fa-1x fa-pencil-square-o"><!-- Edit --></i></a>{{/if}}{{/unless}}</h4>
		<i class="fa fa-3x fa-sort-up section_marker"></i>
		<div id="steps" class="steps row block">
			{{#if prereq_enable}}
				{{#if prereq}}
					{{> prereqView}}
				{{/if}}
			{{/if}}
			{{#if steps}}
				{{#each steps}}
					{{> stepView}}
				{{/each}}
			{{else}}
				{{> stepView}}
			{{/if}}
		</div>
		{{#if currentUser}}
		{{> comments}}
		{{/if}}	
	</div>
</template>